 
body {
    color: rgba(240, 228, 240, 0.788);
    background: black;
    margin: 0px;
    font-family: "Pacifico", cursive;

}

header {

    border-bottom: solid 2px rgb(117, 88, 114);
    padding: 12px;
    font-size: 15 px;
}


.chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 8px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img {
    height: 100px;
  }

  .chamada-.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }
 